<html>
  <head>
    <title>Shrink Rotate</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      
      <svg width=1000 height=800>
	
	<polygon v-for="a in men" :points="points(a)" stroke="black" fill="white" opacity=0.1></polygon>
	<polygon v-for="a in shrunken.men" :points="points(a)" stroke="black" fill="red" fill-opacity=0.5></polygon>
	<line v-for="e in shrunken.hen" :x1="choutenn[e[0]].x" :y1="choutenn[e[0]].y"
	      :x2="choutenn[e[1]].x" :y2="choutenn[e[1]].y" stroke="black"></line>
      </svg>
      <div>
	<input type="range" v-model="cont" min=50 max=120>
	<input type="range" v-model="theta" min="-90" max="90">
      </div>
    </div>
    <script src="shrinkrotate.js"></script>
  </body>
</html>
